div.has-error {
  color: #b94a48;
}
.no-pl {
  padding-left: 0;
}
.input-new {
  padding-left: 4px;
  padding-right: 4px;
}
.display-none {
  display: none;
}
.mt15 {
  margin-top: 15px;
}
.mt0 {
  margin-top: 0px;
}
.mb20 {
  margin-bottom: 20px;
}
div.add {
  margin: 15px 0 0 0;
}
div.row {
  margin: 0;
}
div.well-new {
  background-color: #EEEEEE;
}
div.well-new-2 {
  padding: 10px;
}
div.separator {
  border-bottom: 2px solid #E3E3E3;
}
div.center {
  text-align: center;
  margin-bottom: 20px;
}
.btn-new {
  margin-left: 20px;
}
.hght60 {
  height: 60px;
}
.mh50 {
  max-height: 50px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.form-signin input.mb10{margin-bottom: 10px !important; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}

input.values {margin: 10px 0 0 0px;}


