
body {
    background-color: #EEEEEE;
    padding-bottom: 40px;
    padding-top: 40px;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    margin-top: 10px;
}
.bottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.form-signin input.mb10{margin-bottom: 10px !important; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
